run = "streamlit run app.py --server.address 0.0.0.0 --server.port 8000 --server.headless true"
modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["bash", "cargo", "libiconv", "pip", "python311", "rustc", "streamlit"]

[deployment]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8000
externalPort = 80
